[{:name logseq/datascript
  :namespaces [datascript.core datascript.db]
  :js "./nbb_datascript.js"
  :shadow-config
  {:compiler-options {:externs ["datascript/externs.js"]}
   :modules
   {:nbb_datascript {:init-fn nbb.impl.datascript/init
                     ;; From https://github.com/tonsky/datascript/issues/298#issuecomment-813790783
                     :prepend "if (global) { global.datascript = datascript } else if (window) { window.datascript = datascript } else { var datascript = {}}"
                     :depends-on #{:nbb_core}}}}}]
