.shadow-cljs
node_modules
lib
.nrepl-port
.cpcache
.lsp
.rebel_readline_history
/report.html
/target
**/.clj-kondo/.cache
**/.clj-kondo/rewrite-clj
**/.calva
example.pdf
*/**/package-lock.json
print-cli-args/print-cli-args
clojure_logo.png
test-scripts/feature-tests/libraries/
assets/command-icon.png
