.shadow-cljs
node_modules
lib
.nrepl-port
.cpcache
.lsp
.rebel_readline_history
/report.html
/target
**/.clj-kondo/.cache
**/.clj-kondo/rewrite-clj
**/.calva
example.pdf
*/**/package-lock.json
print-cli-args/print-cli-args
clojure_logo.png
assets/command-icon.png
doc/electron/index.js
ext/**/index.mjs
.DS_Store
.clj-kondo/metosin
output.html
doc/bundle/dist
doc/bundle/out.mjs
.nbb/.cache/
bun.lockb
.nbb
scratch.mjs
scratch.cljs
