{:paths ["script"]
 :tasks
 {:requires ([babashka.fs :as fs])
  clean (fs/delete-tree "out")
  watch (do (shell "npx shadow-cljs --force-spawn watch modules"))
  watch-test (shell "npx shadow-cljs watch test")
  compile (shell "npx shadow-cljs --force-spawn compile modules")
  release {:depends [clean]
           :task
           (do (apply shell "npx shadow-cljs --force-spawn release modules" *command-line-args*)
               (spit "out/nbb_core.js"
                     (clojure.string/replace (slurp "out/nbb_core.js") (re-pattern "self") "globalThis"))
               (spit "out/nbb_main.js"
                     (str "#!/usr/bin/env node\n\n" (slurp "out/nbb_main.js")))
               (shell "chmod +x out/nbb_main.js")
               (run! fs/delete (fs/glob "out" "**.map")))}
  test nbb-tests/main
  run (shell "out/nbb_main.js test.cljs")
  publish {:depends [release]
           :task (do (shell "npm publish")
                     (shell {:dir "reagent"} (shell "npm publish")))}}}
