{:paths ["src"]
 :aliases {:test {:extra-paths ["test"]}}
 :deps {thheller/shadow-cljs {:mvn/version "2.20.16"}
        #_#_org.clojure/clojurescript {:mvn/version "1.11.51"}
        ;; reagent/reagent {:mvn/version "1.0.0"}
        cljsjs/react {:mvn/version "18.2.0-1"}
        cljsjs/react-dom {:mvn/version "18.2.0-1"}
        cljsjs/react-dom-server {:mvn/version "18.2.0-1"}
        io.nervous/cljs-nodejs-externs {:mvn/version "0.2.0"}
        reagent/reagent {:git/url "https://github.com/borkdude/nbb-reagent"
                         :git/sha "315d702436719ea3a9a356773d6a10038ce9ea75"}
        funcool/promesa {:mvn/version "11.0.678"}
        applied-science/js-interop {:mvn/version "0.3.3"}
        cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        org.babashka/sci
        #_{:local/root "../babashka/sci"}
        #_{:mvn/version "0.3.5"}
        {:git/url "https://github.com/babashka/sci"
         :git/sha "a0ac13803a80882e7f8f0c56055ee8ea7380902f"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        #_#_prismatic/schema {:mvn/version "1.3.0"}
        #_#_metosin/malli {:mvn/version "0.8.8"}
        org.babashka/cli {:mvn/version "0.7.53"}
        #_{:local/root "/Users/borkdude/dev/babashka/sci"}
        io.github.babashka/sci.configs {:git/url "https://github.com/babashka/sci.configs"
                                        :git/sha "5754193ac358b532f13ed0803f72711edd6c024c"}}}
