{:paths ["src"]
 :aliases {:test {:extra-paths ["test"]}}
 :deps {thheller/shadow-cljs {:mvn/version "2.16.12"}
        ;; reagent/reagent {:mvn/version "1.0.0"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        cljsjs/react-dom-server {:mvn/version "17.0.2-0"}
        io.nervous/cljs-nodejs-externs {:mvn/version "0.2.0"}
        reagent/reagent {:git/url "https://github.com/borkdude/nbb-reagent"
                         :git/sha "315d702436719ea3a9a356773d6a10038ce9ea75"}
        funcool/promesa {:mvn/version "8.0.450"}
        applied-science/js-interop {:mvn/version "0.3.1"}
        cljs-bean/cljs-bean {:mvn/version "1.8.0"}
        org.babashka/sci
        #_{:local/root "../babashka/sci"}
        #_{:mvn/version "0.3.4"}
        {:git/url "https://github.com/babashka/sci"
         :git/sha "07e21bdab3c1365f7b2a06377e1c56fa09e95a15"}
        org.babashka/sci-configs
        {:git/url "https://github.com/babashka/sci-configs"
         :git/sha "d197da2413bd8e4e5c43159620ddfe4286c731ba"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        com.cognitect/transit-cljs {:mvn/version "0.8.269"}}}
