{:deps {thheller/shadow-cljs {:mvn/version "2.15.2"}
        ;; reagent/reagent {:mvn/version "1.0.0"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        cljsjs/react-dom-server {:mvn/version "17.0.2-0"}
        io.nervous/cljs-nodejs-externs {:mvn/version "0.2.0"}
        reagent/reagent {:mvn/version "1.1.0"}
        borkdude/sci {:mvn/version "0.2.6"}
        applied-science/js-interop {:mvn/version "0.2.11"}}
 :aliases {:repl/rebel
           {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                         cider/cider-nrepl          {:mvn/version "0.26.0"}
                         com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "-i"
                         "-f" "rebel-readline.main/-main"]}}}
