{:deps true
 :builds
 {:modules
  {:js-options {:keep-as-import #{"fs" "module" "path"
                                  "react" "react-dom-server"
                                  "url" "net"}}
   :compiler-options {:infer-externs :auto}
   :target :esm
   :runtime :node
   :output-dir "out"
   :modules
   {:nbb_core {:init-fn nbb.core/init}
    :nbb_main {:init-fn nbb.main/main
               :depends-on #{:nbb_core :nbb_api}}
    :nbb_api {:exports {loadFile nbb.api/loadFile
                        loadString nbb.api/loadString}
              :depends-on #{:nbb_core}}
    :nbb_reagent {:init-fn nbb.reagent/init
                  :depends-on #{:nbb_core}}
    :nbb_reagent_dom_server {:init-fn nbb.impl.reagent.dom.server/init
                             :depends-on #{:nbb_core :nbb_reagent}}
    :nbb_promesa {:init-fn nbb.promesa/init
                  :depends-on #{:nbb_core}}

    :nbb_js_interop {:init-fn nbb.js-interop/init
                     :depends-on #{:nbb_core}}
    :nbb_pprint {:init-fn nbb.pprint/init
                 :depends-on #{:nbb_core}}
    :nbb_nrepl_server {:init-fn nbb.impl.nrepl-server/init
                       :depends-on #{:nbb_core :nbb_api}}}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
