{:lint-as {promesa.core/->   clojure.core/->
           promesa.core/->>  clojure.core/->>
           promesa.core/as-> clojure.core/as->
           promesa.core/let  clojure.core/let
           promesa.core/plet clojure.core/let
           promesa.core/loop clojure.core/loop}}
