{:deps {chr15m/sitefox {:git/url "https://github.com/chr15m/sitefox"
                        :git/sha "4bdb9120743b13417400cc9fa2d58e89b3659491"
                        :exclusions [thheller/shadow-cljs]}}
 :tasks
 {fox {:requires ([babashka.classpath :as cp])
       :task (let [cp (cp/get-classpath)]
               (shell "nbb" "-cp" cp "webserver.cljs"))}}}
